# File: /etc/udev/rules.d/20_C9000PADummy
# C9000 PA Dummy running on Arduino Nano China clone with CH340
SUBSYSTEM=="tty", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="7523", SYMLINK+="C9000PADummy" 
